{% extends "layouts/main.html" %}
<!-- Extiende el archivo "main.html" como plantilla base -->

{% block content %}
<!-- Bloque de contenido específico para esta plantilla -->

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/css/home.css' %}">
<!-- Carga los archivos estáticos -->

<!-- Scripts de funcionamiento -->
<script src="{% static 'styles/js/home.js' %}"></script>



<!-- Seccion Imagen Presentación -->
<section>
    <div class="image-container" style="position: relative;">
        {% load static %}
        <img class="cover-image" src="{% static 'img/20230828_010924.png' %}" alt="Test Image">
        <div class="text-overlay" style="position: absolute; background-color: rgba(0, 0, 0, 0.7); border-radius: 10px;">
            <h1 style="color: white; font-size: 60px; font-weight: 600;">Encuentra tu espacio para conectar y crecer.</h1>
            <p style="color: white; font-weight: 700; text-align: center; margin-top: 50;">Explora espacios inspiradores para tus actividades favoritas. ¡Reserva ahora! Lorem ipsum dolor sit amet</p>
        </div>
        <div class="button-container" style="position: absolute; bottom: 50px; left: 50%; transform: translateX(-50%);">
            <button onClick="scrollToContenedor()">Explorar Espacios</button>
        </div>
    </div>
</section>


<!-- Seccion Espacios -->
<div id="contenedor" class="contenedor tema-claro-bg">
    <!-- Filtros -->
    <div class="container">
        <div class="seccion-filtros">
            <h2 id="texto1" class="tema-claro-font">Explore y elija sus espacios ideales para sus actividades</h2>
            <div class="con-subtexto my-4">
                <p id="texto2" class="tema-claro-font">En nuestra plataforma, te ofrecemos los espacios perfectos para que puedas perseguir tus pasiones y llevar a cabo tus actividades creativas con éxito</p>
            </div>
        </div>
        <div class="container" style="width: 90%">
        <div class="row">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="tipo" value="Yoga">
                    <button class="botonFiltro btn" type="submit">
                    <div class="clase-filtro mx-4">
                        <div class="contenedor-filtro-superior">
                            {% load static %}
                            <img class="img-fluid" src="{% static 'img/pexels-gustavo-fring-3984340 (1) (4).jpg' %}"></img>
                        </div>
                        <div class="icono-central">
                            {% load static %}
                            <img src="{% static 'img/yoga.png' %}"></img>
                        </div>
                        <div class="contenedor-filtro-inferior">
                            <div class="titulo-filtro mb-5">
                                <h6 name="tipo">Yoga</h6>
                            </div>
                        </div>
                    </div>
                    </button>
                    </form>
                </div>
                <div class="item">
                    <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="tipo" value="Arte">
                    <button class="botonFiltro btn" type="submit">
                    <div class="clase-filtro mx-4">
                        <div class="contenedor-filtro-superior">
                            {% load static %}
                            <img class="img-fluid" src="{% static 'img/pexels-steve-johnson-1047540 (1) (2).jpg' %}"></img>
                        </div>
                        <div class="icono-central">
                            {% load static %}
                            <img src="{% static 'img/art.png' %}"></img>
                        </div>
                        <div class="contenedor-filtro-inferior">
                            <div class="titulo-filtro mb-5">
                                <h6>Arte</h6>
                            </div>
                        </div>
                    </div>
                    </button>
                    </form>
                </div>
                <div class="item">
                    <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="tipo" value="Art.Marcial">
                    <button class="botonFiltro btn" type="submit">
                    <div class="clase-filtro mx-4">
                        <div class="contenedor-filtro-superior">
                            {% load static %}
                            <img class="img-fluid" src="{% static 'img/pexels-artem-podrez-6253307 (1) .jpg' %}"></img>
                        </div>
                        <div class="icono-central">
                            {% load static %}
                            <img src="{% static 'img/karate.png' %}"></img>
                        </div>
                        <div class="contenedor-filtro-inferior">
                            <div class="titulo-filtro mb-5">
                                <h6>Art.Marcial</h6>
                            </div>
                        </div>
                    </div>
                    </button>
                    </form>
                </div>
                <div class="item">
                    <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="tipo" value="Cocina">
                    <button class="botonFiltro btn" type="submit">
                    <div class="clase-filtro mx-4">
                        <div class="contenedor-filtro-superior">
                            {% load static %}
                            <img class="img-fluid" src="{% static 'img/pexels-cottonbro-studio-4253320  (5).jpg' %}"></img>
                        </div>
                        <div class="icono-central">
                            {% load static %}
                            <img src="{% static 'img/cocinero.png' %}"></img>
                        </div>
                        <div class="contenedor-filtro-inferior">
                            <div class="titulo-filtro mb-5">
                                <h6>Cocina</h6>
                            </div>
                        </div>
                    </div>
                    </button>
                    </form>
                </div>
                <div class="item">
                    <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="tipo" value="Danza">
                    <button class="botonFiltro btn" type="submit">
                    <div class="clase-filtro mx-4">
                        <div class="contenedor-filtro-superior">
                            {% load static %}
                            <img class="img-fluid" src="{% static 'img/test17.jpg' %}"></img>
                        </div>
                        <div class="icono-central">
                            {% load static %}
                            <img src="{% static 'img/icons8-dance-50.png' %}"></img>
                        </div>
                        <div class="contenedor-filtro-inferior">
                            <div class="titulo-filtro mb-5">
                                <h6>Danza</h6>
                            </div>
                        </div>
                    </div>
                    </button>
                    </form>
                </div>
                <div class="item">
                    <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="tipo" value="Musica">
                    <button class="botonFiltro btn" type="submit">
                    <div class="clase-filtro mx-4">
                        <div class="contenedor-filtro-superior">
                            {% load static %}
                            <img class="img-fluid" src="{% static 'img/microphone-gf375ef01b_640 (1) (1).jpg' %}"></img>
                        </div>
                        <div class="icono-central">
                            {% load static %}
                            <img src="{% static 'img/nota-musical.png' %}"></img>
                        </div>
                        <div class="contenedor-filtro-inferior">
                            <div class="titulo-filtro mb-5">
                                <h6>Musica</h6>
                            </div>
                        </div>
                    </div>
                    </button>
                    </form>
                </div>
                <div class="item">
                    <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="tipo" value="Gimnasio">
                    <button class="botonFiltro btn" type="submit">
                    <div class="clase-filtro mx-4">
                        <div class="contenedor-filtro-superior">
                            {% load static %}
                            <img class="img-fluid" src="{% static 'img/pexels-william-choquette-1954524 (4).jpg' %}"></img>
                        </div>
                        <div class="icono-central">
                            {% load static %}
                            <img src="{% static 'img/gym-equipment.png' %}"></img>
                        </div>
                        <div class="contenedor-filtro-inferior">
                            <div class="titulo-filtro mb-5">
                                <h6>Gimnasio</h6>
                            </div>
                        </div>
                    </div>
                    </button>
                    </form>
                </div>
                <div class="item">
                    <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="tipo" value="Fotografía">
                    <button class="botonFiltro btn" type="submit">
                    <div class="clase-filtro mx-4">
                        <div class="contenedor-filtro-superior">
                            {% load static %}
                            <img class="img-fluid" src="{% static 'img/pexels-rakesh-gohil-318651 (1) ( (2).jpg' %}"></img>
                        </div>
                        <div class="icono-central">
                            {% load static %}
                            <img src="{% static 'img/camara.png' %}"></img>
                        </div>
                        <div class="contenedor-filtro-inferior">
                            <div class="titulo-filtro mb-5">
                                <h6>Fotografía</h6>
                            </div>
                        </div>
                    </div>
                    </button>
                    </form>
                </div>
                <div class="item">
                    <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="tipo" value="Showroom">
                    <button class="botonFiltro btn" type="submit">
                    <div class="clase-filtro mx-4">
                        <div class="contenedor-filtro-superior">
                            {% load static %}
                            <img class="img-fluid" src="{% static 'img/pexels-rachel-claire-4857762 (1) (4).jpg' %}"></img>
                        </div>
                        <div class="icono-central">
                            {% load static %}
                            <img src="{% static 'img/moda.png' %}"></img>
                        </div>
                        <div class="contenedor-filtro-inferior">
                            <div class="titulo-filtro mb-5">
                                <h6>Showroom</h6>
                            </div>
                        </div>
                    </div>
                    </button>
                    </form>
                </div>
                <div class="item">
                    <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="tipo" value="Otros">
                    <button class="botonFiltro btn" type="submit">
                    <div class="clase-filtro mx-4">
                        <div class="contenedor-filtro-superior">
                            {% load static %}
                            <img class="img-fluid" src="{% static 'img/pexels-pixabay-269399 (1).jpg' %}"></img>
                        </div>
                        <div class="icono-central">
                            {% load static %}
                            <img src="{% static 'img/tungsteno.png' %}"></img>
                        </div>
                        <div class="contenedor-filtro-inferior">
                            <div class="titulo-filtro mb-5">
                                <h6>Otros</h6>
                            </div>
                        </div>
                    </div>
                    </button>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin: 1,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>

    <!-- Espacios -->
    <section>
    <div class="seccion-espacios">
        <div class="texto-header-espacios">
            <h2 id="texto3" class="tema-claro-font">Busca el espacio que se ajuste a tus preferencias</h2>
        </div>
    </div>
        <div class="container">
        <div class="row">
            {% for p in entity %}
            <!-- Bucle para cada elemento en la lista `entity` -->
            <div class="col-md-4">
                <div class="contenedor-espacio-principal">
                    <div class="contenedor-espacio-principal-img">
                        {% load static %}
                        <!-- Imagen cargada desde un archivo estático -->
                        <img src="{{p.image1.url}}" alt="My image">
                        <div class="contenedor-info">
                            <div class="px-3 pt-3 pb-2 info-titulo">{{p.titulo}}</div>
                            <div class="px-3 info-precio">$ 1500</div>
                            <div class="px-3 info-direccion py-2"><small><i class="bi bi-geo-alt-fill"></i>{{p.direccion}}</small></div>
                            <div class="px-3 contenedor-botones">
                                <div class="info-botones mt-2">
                                    <a class="p-2" onclick="redirectToPage('{{p.id}}')" style="cursor: pointer;">Detalles</a>
                                    <a class="p-2">Reservar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter0|add:1|divisibleby:3 or forloop.last %}
            <!-- Cierra la fila (row) cada 3 iteraciones o en la última iteración -->
        </div>
        {% if not forloop.last %}
        <!-- Abre una nueva fila (row) si no es la última iteración -->
        <div class="row">
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- Fin del bucle -->
    </section>

    <script>
        function redirectToPage(pageId) {
          window.location.href = "/espacio/" + pageId;
        }
      </script>

    <!-- Seccion Paginación -->
    <section>
        <div class="paginacion">
            {% include 'layouts/paginacion.html' %}
        </div>
    </section>
</div>
        
<!-- Seccion caracteristicas -->
<section>
    <div id="caracteristicas" class="caracteristicas tema-claro-2-bg">
        <div class="contenedor-caracteristicas">
            <div class="contenedor-individual">
                <div class="iconos-caracteristicas"><i id="texto21" class="bi bi-chat-dots tema-claro-font"></i></div>
                <div class="texto-caracteristicas mx-3"><p id="texto22" class="tema-claro-font">Atención al cliente disponible 24/7. ¡Estamos aquí para ayudarte!</p></div>
            </div>
            <div class="contenedor-individual">
                <div class="iconos-caracteristicas"><i id="texto23" class="bi bi-search tema-claro-font"></i></div>
                <div class="texto-caracteristicas mx-3"><p id="texto24" class="tema-claro-font">Variedad de espacios cómodos y seguros para ti. Encuentra el tuyo.</p></div>
            </div>
            <div class="contenedor-individual">
                <div class="iconos-caracteristicas"><i id="texto25" class="bi bi-send tema-claro-font"></i></div>
                <div class="texto-caracteristicas mx-3"><p id="texto26" class="tema-claro-font">Reserva fácil y rápida en unos clics. Sin complicaciones.</p></div>
            </div>
        </div>
    </div>
</section>

<!-- Seccion Footer -->
<section>
    <div id="footer" class="footer tema-claro-bg">
        <div class="contenedor-footer-1">
            <div class="contenedor-footer-2 mt-5">
                <div class="primeracol-footer">
                    <h4 id="texto4" class="tema-claro-font">Espaci.AR</h4>
                    <small id="texto5" class="tema-claro-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus animi alias</small>
                </div>
                <div class="segundacol-footer">
                    <div>
                        <small id="texto6" class="tema-claro-font"><i class="bi bi-telephone"></i>+1 (234) 567 89 10</small>
                    </div>
                    <div class="mt-2">
                        <small id="texto7" class="tema-claro-font"><i class="bi bi-envelope"></i>example@example.com</small>
                    </div>
                    <div class="footer-iconos mt-3">
                        <div class="contenedor-icono">
                            <i class="bi bi-twitter tema-claro-font"></i>
                        </div>
                        <div class="contenedor-icono ml-2">
                            <i class="bi bi-facebook tema-claro-font"></i>
                        </div>
                        <div class="contenedor-icono ml-2">
                            <i class="bi bi-instagram tema-claro-font"></i>
                        </div>
                    </div>
                </div>
                <div class="terceracol-footer">
                    <h4 id="texto8" class="tema-claro-font">Links rapidos</h4>
                    <a id="texto9" class="tema-claro-font" href="#">Inicio</a>
                    <a id="texto10" class="tema-claro-font" href="#">Mis Espacios</a>
                    <a id="texto11" class="tema-claro-font" href="#">Mis Reservas</a>
                    <a id="texto12" class="tema-claro-font" href="#">¿Quienes somos?</a>
                    <a id="texto13" class="tema-claro-font" href="#">Contactanos</a>
                </div>
                <div class="cuartacol-footer">
                    <h4 id="texto14" class="tema-claro-font">Servicios</h4>
                    <a id="texto15" class="tema-claro-font" href="#">Servicios</a>
                    <a id="texto16" class="tema-claro-font" href="#">Mis Servicios</a>
                    <a id="texto17" class="tema-claro-font" href="#">Mis Servicios</a>
                    <a id="texto18" class="tema-claro-font" href="#">Servicios Servicios?</a>
                    <a id="texto19" class="tema-claro-font" href="#">Servicios</a>
                </div>
            </div>
            <div class="copyright">
                <small id="texto20" class="tema-claro-font">© 2023 Copyright Espaci.AR</small>
            </div>
        </div>
    </div>
</section>
  
<script>
    function scrollToContenedor() {
        // Obtiene la posición del elemento con id "contenedor"
        var targetPosition = document.getElementById("contenedor").offsetTop;
        
        // Desplaza suavemente el scroll hacia la posición del elemento
        window.scrollTo({
            top: targetPosition,
            behavior: "smooth", // Hace que el desplazamiento sea suave
            duration: 2000 // Duración del desplazamiento en milisegundos (ajusta según tu preferencia)
        });
    }
    const modoClaroOscuro = document.getElementById("modo-claro-oscuro");

    modoClaroOscuro.addEventListener("click", () => {
        modoClaroOscuro.classList.toggle("tema-claro");
        modoClaroOscuro.classList.toggle("tema-oscuro");
    });

    function cambiarIconoModo() {
        const modoClaroOscuro = document.getElementById("modo-claro-oscuro");
        const icono = modoClaroOscuro.querySelector(".bi");
        const contenedor = document.getElementById("contenedor");
        const footer = document.getElementById("footer");
        const texto1 = document.getElementById("texto1");
        const texto2 = document.getElementById("texto2");
        const texto3 = document.getElementById("texto3");
        const texto4 = document.getElementById("texto4");
        const texto5 = document.getElementById("texto5");
        const texto6 = document.getElementById("texto6");
        const texto7 = document.getElementById("texto7");
        const texto8 = document.getElementById("texto8");
        const texto9 = document.getElementById("texto9");
        const texto10 = document.getElementById("texto10");
        const texto11 = document.getElementById("texto11");
        const texto12 = document.getElementById("texto12");
        const texto13 = document.getElementById("texto13");
        const texto14 = document.getElementById("texto14");
        const texto15 = document.getElementById("texto15");
        const texto16 = document.getElementById("texto16");
        const texto17 = document.getElementById("texto17");
        const texto18 = document.getElementById("texto18");
        const texto19 = document.getElementById("texto19");
        const texto20 = document.getElementById("texto20");
        const caracteristicas = document.getElementById("caracteristicas");
        const texto21 = document.getElementById("texto21");
        const texto22 = document.getElementById("texto22");
        const texto23 = document.getElementById("texto23");
        const texto24 = document.getElementById("texto24");
        const texto25 = document.getElementById("texto25");
        const texto26 = document.getElementById("texto26");


        icono.classList.toggle("bi-sun");
        icono.classList.toggle("bi-moon");

        caracteristicas.classList.toggle("tema-claro-2-bg");
        caracteristicas.classList.toggle("tema-oscuro-2-bg");

        contenedor.classList.toggle("tema-claro-bg");
        contenedor.classList.toggle("tema-oscuro-bg");

        footer.classList.toggle("tema-claro-bg");
        footer.classList.toggle("tema-oscuro-bg");

        texto1.classList.toggle("tema-claro-font");
        texto1.classList.toggle("tema-oscuro-font");

        texto2.classList.toggle("tema-claro-font");
        texto2.classList.toggle("tema-oscuro-font");

        texto3.classList.toggle("tema-claro-font");
        texto3.classList.toggle("tema-oscuro-font");

        texto4.classList.toggle("tema-claro-font");
        texto4.classList.toggle("tema-oscuro-font");
        texto5.classList.toggle("tema-claro-font");
        texto5.classList.toggle("tema-oscuro-font");
        texto6.classList.toggle("tema-claro-font");
        texto6.classList.toggle("tema-oscuro-font");
        texto7.classList.toggle("tema-claro-font");
        texto7.classList.toggle("tema-oscuro-font");
        texto8.classList.toggle("tema-claro-font");
        texto8.classList.toggle("tema-oscuro-font");
        texto9.classList.toggle("tema-claro-font");
        texto9.classList.toggle("tema-oscuro-font");
        texto10.classList.toggle("tema-claro-font");
        texto10.classList.toggle("tema-oscuro-font");

        texto11.classList.toggle("tema-claro-font");
        texto11.classList.toggle("tema-oscuro-font");
        texto12.classList.toggle("tema-claro-font");
        texto12.classList.toggle("tema-oscuro-font");
        texto13.classList.toggle("tema-claro-font");
        texto13.classList.toggle("tema-oscuro-font");
        texto14.classList.toggle("tema-claro-font");
        texto14.classList.toggle("tema-oscuro-font");
        texto15.classList.toggle("tema-claro-font");
        texto15.classList.toggle("tema-oscuro-font");
        texto16.classList.toggle("tema-claro-font");
        texto16.classList.toggle("tema-oscuro-font");
        texto17.classList.toggle("tema-claro-font");
        texto17.classList.toggle("tema-oscuro-font");
        texto18.classList.toggle("tema-claro-font");
        texto18.classList.toggle("tema-oscuro-font");
        texto19.classList.toggle("tema-claro-font");
        texto19.classList.toggle("tema-oscuro-font");
        texto20.classList.toggle("tema-claro-font");
        texto20.classList.toggle("tema-oscuro-font");

        texto21.classList.toggle("tema-claro-font");
        texto21.classList.toggle("tema-oscuro-font");
        texto22.classList.toggle("tema-claro-font");
        texto22.classList.toggle("tema-oscuro-font");
        texto23.classList.toggle("tema-claro-font");
        texto23.classList.toggle("tema-oscuro-font");
        texto24.classList.toggle("tema-claro-font");
        texto24.classList.toggle("tema-oscuro-font");
        texto25.classList.toggle("tema-claro-font");
        texto25.classList.toggle("tema-oscuro-font");
        texto26.classList.toggle("tema-claro-font");
        texto26.classList.toggle("tema-oscuro-font");


    }

    modoClaroOscuro.addEventListener("click", () => {
        modoClaroOscuro.classList.toggle("tema-claro");
        modoClaroOscuro.classList.toggle("tema-oscuro");
        cambiarIconoModo(); // Llama a la función para cambiar el icono al hacer clic
    });
</script>

{% endblock %}
<!-- Fin del bloque de contenido -->